branches/projet_interop/Sources/OgrePluginTester/Media/3dc/3dc.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="SGA_3DContainer">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Group" type="xs:string"/>
	  <xs:attribute name="DEF" type="xs:string"/>
      <xs:element name="Transform" type="xs:string"/>
      <xs:element name="Content" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>